@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pirata+One&display=swap');

:root {
    --font-primaria: 'Dancing Script', 'open-sans';
    --font-secundaria: sans-serif;
    --cor-primaria: #441394;
    --cor-secundaria: #f1f2f3;
    --cor-botoes: rgba(98, 0, 110, 0.5);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-secundaria);
    color: var(--cor-secundaria);

}
body {
    background-color: rgba(30, 0, 88, 0.88);
}

h1, span {
    font-family: var(--font-primaria);
    width: 100%;
    font-size: 3rem;
}

.wrapper {
    justify-content: center;
    align-items: inherit;
    display: flex;
    width: 80%;
}

.image img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 10px;

}

.input-box {
    display: flex;
    flex: 1;
    width: 100%;
}

.input {
    display: flex;
    position: relative;
    padding: 10px;
    border-radius: 5px;
}

.input, .label {
    margin: 25px 0;
    width: 100%;
}

input, label {
    margin: 25px 0;
}

.label {
    position: absolute;
    color: red;
    z-index: 1;
    margin: 25px;
}

 .button {
    width: 100%;
    background-color: var(--cor-botoes);
    margin-top: 50px;
    padding: 20px;
    border-radius: 15px;
}